
<mat-card>
    <mat-card-header>
        <h1>Sales Data</h1>
            <button style="margin-left: 70%;" mat-raised-button color="primary" routerLink="/Sales/add">Add Sales</button>
        
        
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="datasource"matSort>

<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
</ng-container>
<ng-container matColumnDef="sdate">
    <th mat-header-cell *matHeaderCellDef> Sales Date </th>
      <td mat-cell *matCellDef="let element"> {{element.sdate}} </td>
</ng-container>
<ng-container matColumnDef="refid">
    <th mat-header-cell *matHeaderCellDef> Reference Id </th>
    <td mat-cell *matCellDef="let element"> {{element.refid}} </td>
</ng-container>
<ng-container matColumnDef="supplierId">
    <th mat-header-cell *matHeaderCellDef> Suuplier Id </th>
      <td mat-cell *matCellDef="let element"> {{element.supplierId}} </td>
</ng-container>

<ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
        <button (click)="functionedit(element.code)" mat-raised-button color="primary">Edit</button>
        <button (click)="functiondelete(element.code)" mat-raised-button color="accent">Delete</button>
    </td>
</ng-container>
            <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>