@if(showmenu){
    <div>
        <mat-toolbar color="primary" class="mat-elevation-z8">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Medicine Stock Management</span>
            <span class="example-spacer"></span>
            <span>{{Loginuser}}</span>
            <button mat-button [matMenuTriggerFor]="profile"><mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #profile>
                <button mat-menu-item>Userprofile</button>
                <button mat-menu-item routerLink="/resetpassword">Resetpassword</button>
                <button mat-menu-item routerLink="/login">Logout</button>
            </mat-menu>
    
        </mat-toolbar>
        <mat-drawer-container autosize>
            <mat-drawer #drawer opened="true" mode="side" position="start">
    
                <mat-nav-list>
                    <mat-list-item>
                        <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
                    </mat-list-item>
                    <!-- @for(item of menulist;track item){ -->
                        <mat-list-item>
                            <button mat-button routerLink="category"><mat-icon>assignment</mat-icon>Categories</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-button routerLink="medicine"><mat-icon>local_hospital</mat-icon>Medicines</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-button routerLink="Inventories"><mat-icon>inventory</mat-icon>Inventories</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-button routerLink="Sales"><mat-icon>shopping cart</mat-icon>Sales</button>
                        </mat-list-item>
                        <!-- <mat-list-item>
                            <button mat-button routerLink="OrderDetails"><mat-icon>receipt_long</mat-icon>Order Details</button>
                        </mat-list-item> -->
                        
                        <mat-list-item>
                            <button mat-button routerLink="about"><mat-icon>face</mat-icon>About Us</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-button routerLink="contact"><mat-icon>contact_support</mat-icon>Contact Us</button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-button routerLink="feedback"><mat-icon>feedback</mat-icon>Feedback</button>
                        </mat-list-item>
                        
                    <!-- }  -->
                </mat-nav-list>
    
            </mat-drawer>
            <mat-drawer-content>
                <div style="text-align: center;min-height: 600px;">
                    <router-outlet></router-outlet>
                </div>
            </mat-drawer-content>
    
        </mat-drawer-container>
    
    
    </div>
}@else{
    <div style="text-align: center;min-height: 600px;">
        <router-outlet></router-outlet>
    </div> 
}
